<h1> <%= @hospital.name %> </h1>

<div id="doctors">
  <% @hospital.doctors.each do |doctor| %>
    <p><%= doctor.name %></p>
  <% end %>
</div>

<div id="universities">
  <% @hospital.unique_universities.each do |university| %>
    <p><%= university %></p>
  <% end %>
</div>