<div id="hospital-info">
  <h1><%= @hospital.name %></h1>
  <h2>Doctor Count: <%= @hospital.doctors.count %></h2>
</div>

<div id="universities">
  <h1>Universities</h1>
  <% @hospital.unique_universities.each do |university| %>
    <h2><%= university %></h2>
    <% end %>
</div>