<h1><%= "#{@hospital.name} Show Page" %></h1>

<p>Total Number of Doctors<%= "#{@hospital.doctors.count}" %></p>


<p>Doctors Universities:</p>
<% @hospital.unique_universities.each do |uni| %>
  <%= uni %>
<% end %>
