<h1><%= @hospital.name %></h1>
  Doctors: <%= @hospital.doctors.length %>
  <br>
  Universities:
  <div class="universities">
  <% @hospital.universities.each do |university|%>
    <ul>
      <li><%= university %></li>
    </ul>
    <%end%>
  </div>
