<div id="doctor-info">
  <h1>Dr. <%= @doctor.name %> </h1>
  <hr>
  <h3>
    <p>Specaility: <%= @doctor.specialty %></p>
    <p>Specaility: <%= @doctor.university %></p>
    <p>Specaility: <%= @doctor.hospital.name %></p>
  </h3>
</div>