<h3>Doctor Information: <%=@doctor.name%></h3>
<ul>
  <li><strong>Name:</strong> <%=@doctor.name%></li>
  <li><strong>Specialty:</strong> <%=@doctor.specialty%></li>
  <li><strong>Alma Mater:</strong> <%=@doctor.university%></li>
</ul>
